#HomeContainer {
    min-height: 50vh!important;
}

#logo {
    height: 50vh!important;
}

#HomeWrapper {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}

#HomeLanders {
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
}

.HomeLanderCard {
    background: linear-gradient(135deg, var(--secondary-orange) 0%, var(--primary-orange) 100%)!important;
    border-color: #0d6efd!important;
    cursor: pointer;
}

#LanderSplash {
    height: 45vh!important;
    background-image: url(/src/components/Home/Davies\ Lab\ Logo.jpg);
}