#HomeContainer {
    min-height: 50vh!important;
}

#logo {
    height: 50vh!important;
}

#HomeWrapper {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}

#HomeLanders {
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
}

#LanderSplash {
    background-image: url(/src/components/Home/Davies\ Lab\ Logo.jpg);
}