#NavHeader ::before {
    content: url("../../../public/cropped-Logo_sq-32x32.png");
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
    opacity: 80%;
}

#Navbar {
    background: linear-gradient(135deg, var(--secondary-orange) 0%, var(--primary-orange) 100%)!important;
}