#dashboardContainer {
    min-height: 0%!important;
}

#dashboardChartContainer {
    align-content: center!important;
    min-height: 0%!important;
    flex-direction: row!important;
}

#dashboardCanvas {
    height: 517px!important;
    width: 517px!important;
}

#dashCard p{
    text-align: center;
}