#dashboardContainer {
    min-height: 0%!important;
}

#dashboardChartContainer {
    align-content: center!important;
    min-height: 0%!important;
}

#dashcardContainer {
    align-content: center!important;
    min-height: 0%!important;
}

#dashboardCanvas {
    height: 517px!important;
    width: 517px!important;
}

#dashCard {
    background: linear-gradient(135deg, var(--secondary-orange) 0%, var(--primary-orange) 100%)!important;
    border-color: #0d6efd!important;
}

#dashCard p{
    text-align: center;
}